/*
Tori's eye
color pallette from darkest to lightest

#005A31
#A8CD1B
#CBE32D
#F3FAB6

*/

/*
Mint
Color Pallette from darkest to lightest


#585858
#118C4E
#C1E1A6
#FF9009

*/

/*
Muted tones

Pale gold: 	#C0B232
Silk:		#DCD0C0
Paper:		#F4F4F4
Charcoal: 	#373737
*/

body {
	background-color: paper;
	color: #373737;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

html { 
	overflow-y: scroll; 
}

/* navigation bar styling */

#navbar {
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 5px;
	margin-right: 50px;
	/* maakt het onmogelijk de navigation bar te highlighten */
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	width: 200px;
	height: 60px;
	padding-top: 15px;
	text-align: center;
	background-color: #DCD0C0;
	display: inline-block;
	border-radius: 10px;
	font-size: 200%;
}

#navbar li:hover {
	background-color: #C0B232;
	cursor: pointer;
}

#navAbout {
	float: right;
}

/* content styling */

.content {
	background-size: contain;
	padding: 10px;
	margin: 10px 50px;
	background-color: #DCD0C0;
	border-radius: 10px;
	overflow: hidden;
}

.content h1 {
	text-align: center;
	color: #C0B232;
}
.content h2, h3 {
	color: #C0B232;
}

#PDP p {
	padding-left: 24px;
}

#Home ul {
	list-style-type: none;
}

.nonhover {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.nonhover:hover {
	cursor: pointer;
}

.project {
	display: block;
	position: relative;
}


/* progress bar makeup */
.progress {
	display: block;
	border-style: solid;
	border-width: 3px;
	border-color: #373737;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	/* maakt het onmogelijk de navigation bar te highlighten */
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.progress:hover {
	border-color: #C0B232;
	cursor: pointer;
}
/*
Ik had alle code gemaakt voor een progress bar, maar ik was niet tevreden met het resultaat.

.progress-bar {
	border-radius: 5px;
	padding-top:15px;
	padding-bottom:15px;
	box-sizing: border-box;
	background-color: #C0B232;
	border-width: 3px;
	border-color: #C0B232;
}

.progress-text {
	position: absolute;
	left: 50%;
}
*/

/* foto's */

.foto {
	width: 240px;
	display: block;
	float: left;
	padding: 4px;
}

#blizzardPic {
	width: 600px;
}

#spaceCorps img {
	height: 100px;
}

#Portfolio img {
	width: 200px;
	padding: 4px;
	float: left;
}

td {
	vertical-align: top;
}